    .searchBox{
    display: flex;
    width: 45%;
}

.searchBox > input[type="text"]{
    border-radius: 10px 0px 0px 10px;
    width: 70%;
    border: 1px solid rgb(241, 109 , 18);
    font-family: 'Roboto';
    font-size: 1vmax;
    padding: 1vmax 2vmax;
    color: black;
}

.searchBox > input[type="submit"]{
    border-radius: 0px 10px 10px 0px;
    color: white;
    width: 30%; 
    border: none;
    background-color: rgb(241, 109 , 18);
    font-family: 'Roboto';
    font-size: 1.2vmax;
}

.searchBox > input[type="submit"]:hover {
    background-color: rgb(198, 54, 0) 
}


@media  screen and (max-width: 600px) {
    .searchBox{
        display: flex;
        width: 100%;
        height: 70%;
    }

    .searchBox > input[type="text"]{
        width: 70%;
        padding: 1vmax 1vmax;
        font-size: 1.5vmax;

    }
    .searchBox > input[type="submit"]{
        width: 30%;
        font-size: 2vmax;
    }
  
  }

